.bv--theme-light {
  color: $color-theme-light-font;
  background-color: $color-theme-light;
  border-color: $color-theme-light-font;
}
.bv--theme-dark {
  color: $color-theme-dark-font;
  background-color: $color-theme-dark;
  border-color: $color-theme-dark-font;
}
