.bv-grid-item {
  margin: $layout-spacer;
  width: 100%;
  @for $i from 1 through $layout-max-cols {
    &--cols-xs-#{$i} {
      width: calc(#{percentage($i / $layout-max-cols)} - 2 * #{$layout-spacer});
    }
  }
  $breakpoints: sm, md, lg;
  @each $breakpoint in $breakpoints {
    @for $i from 1 through $layout-max-cols {
      &--cols-#{$breakpoint}-#{$i} {
        @include breakpoint($breakpoint) {
          width: calc(#{percentage($i / $layout-max-cols)} - 2 * #{$layout-spacer});
        }
      }
    }
  }
}
