@import '../styles';

// typography
@each $name, $heading in $headings {
  .#{$name} {
    font-size: map-get($heading, 'size');
    font-weight: map-get($heading, 'weight');
    line-height: map-get($heading, 'line-height');
    letter-spacing: map-get($heading, 'letter-spacing');
    font-family: map-get($heading, 'font-family');
  }
}

.bv--theme-light {
  color: $color-theme-light-font;
  background-color: $color-theme-light;
  border-color: $color-theme-light-font;
}
.bv--theme-dark {
  color: $color-theme-dark-font;
  background-color: $color-theme-dark;
  border-color: $color-theme-dark-font;
}

// colors
.bv--color-white {
  background-color: $color-white;
}
.bv--color-black {
  background-color: $color-black;
}
.bv--text-color-white {
  color: $color-white;
}
.bv--text-color-black {
  color: $color-black;
}
@each $name, $color in $colors {
  .bv--color-#{$name} {
    background-color: $color;
    &.bv--darken-1 {
      background-color: darken($color, 10%);
      color: $color-theme-light;
    }
    &.bv--darken-2 {
      background-color: darken($color, 20%);
      color: $color-theme-light;
    }
    &.bv--darken-3 {
      background-color: darken($color, 30%);
      color: $color-theme-light;
    }
    &.bv--lighten-1 {
      background-color: lighten($color, 10%);
    }
    &.bv--lighten-2 {
      background-color: lighten($color, 20%);
    }
    &.bv--lighten-3 {
      background-color: lighten($color, 30%);
    }
  }
  .bv--text-color-#{$name} {
    color: $color;
    &.bv--text-darken-1 {
      color: darken($color, 10%);
    }
    &.bv--text-darken-2 {
      color: darken($color, 20%);
    }
    &.bv--text-darken-3 {
      color: darken($color, 30%);
    }
    &.bv--text-lighten-1 {
    color: lighten($color, 10%);
    }
    &.bv--text-lighten-2 {
      color: lighten($color, 20%);
    }
    &.bv--text-lighten-3 {
      color: lighten($color, 30%);
    }
  }
  .bv--border-color-#{$name} {
    border-color: $color;
    &.bv--border-darken-1 {
      border-color: darken($color, 10%);
    }
    &.bv--border-darken-2 {
      border-color: darken($color, 20%);
    }
    &.bv--border-darken-3 {
      border-color: darken($color, 30%);
    }
    &.bv--border-lighten-1 {
      border-color: lighten($color, 10%);
    }
    &.bv--border-lighten-2 {
      border-color: lighten($color, 20%);
    }
    &.bv--border-lighten-3 {
      border-color: lighten($color, 30%);
    }
  }
  .bv--hover-color-#{$name} {
    &:hover {
      background-color: $color;
    }
    &.bv--hover-darken-1 {
      &:hover {
        background-color: darken($color, 10%);
      }
    }
    &.bv--hover-darken-2 {
      &:hover {
        background-color: darken($color, 20%);
      }
    }
    &.bv--hover-darken-3 {
      &:hover {
        background-color: darken($color, 30%);
      }
    }
    &.bv--hover-lighten-1 {
      &:hover {
        background-color: lighten($color, 10%);
      }
    }
    &.bv--hover-lighten-2 {
      &:hover {
        background-color: lighten($color, 20%);
      }
    }
    &.bv--hover-lighten-3 {
      &:hover {
        background-color: lighten($color, 30%);
      }
    }
  }
}