// monochromatic
$color-black: #000 !default;
$color-white: #fff !default;
$color-grey: #808080 !default;
$color-grey-variant: #a4ada4 !default;

// red
$color-red: #ea1c0d !default;
$color-red-variant: #910000 !default;

// green
$color-green: #8bc34a !default;
$color-green-variant: #4caf50 !default;

// blue
$color-blue: #2b7ba7 !default;
$color-blue-variant: #3f51b5 !default;

//yellow
$color-yellow: #ffff00 !default;
$color-yellow-variant: #ffc107 !default;

//orange
$color-orange: #ff9508 !default;
$color-orange-variant: #ff4e08 !default;

// purple
$color-purple: #8c0aa8 !default;
$color-purple-variant: #db085d !default;

// beige
$color-beige: #d7aa5c !default;
$color-beige-variant: #ba6b36 !default;

//translucent
$color-translucent: rgba(0,0,0,.41) !default;

// aliases
$color-primary: $color-blue !default;
$color-primary-variant: $color-blue !default;
$color-secondary: $color-orange !default;
$color-secondary-variant: $color-orange-variant !default;
$color-success: $color-green !default;
$color-info: $color-blue !default;
$color-warning: $color-yellow-variant !default;
$color-error: $color-red !default;
$color-link: $color-blue !default;
$color-disabled: $color-grey !default;

//themes
$color-theme-dark: darken($color-grey, 30%) !default;
$color-theme-dark-font: $color-white !default;
$color-theme-light: $color-white !default;
$color-theme-light-font: $color-grey !default;

