$font-main: Roboto, sans-serif !default;
$font-main-light: Roboto-Light, sans-serif !default;
$font-size-main: 16px !default;
$line-height-main: 1.5 !default;
$heading-font-family: $font-main !default;

$display-4-size: 4rem !default;
$display-3-size: 3.75rem !default;
$display-2-size: 3rem !default;
$display-1-size: 2.125rem !default;
$headline-size: 1.5rem !default;
$title-size: 1.25rem !default;
$subtitle-1-size: 1rem !default;
$subtitle-2-size: .875rem !default;
$body-1-size: 1rem !default;
$body-2-size: .875rem !default;
$caption-size: .75rem !default;
$overline-size: .625rem !default;

$display-4-size-md: 6rem !default;
$display-3-size-md: 3.75rem !default;
$display-2-size-md: 3rem !default;
$display-1-size-md: 2.125rem !default;
$headline-size-md: 1.5rem !default;
$title-size-md: 1.25rem !default;
$subtitle-1-size-md: 1rem !default;
$subtitle-2-size-md: .875rem !default;
$body-1-size-md: 1rem !default;
$body-2-size-md: .875rem !default;
$caption-size-md: .75rem !default;
$overline-size-md: .625rem !default;

