$border-radius-main: 4px !default;
$hover-transition: all .5s ease-in-out;

$layers: (
  'dropdown': 10,
  'modal': 100
) !default;

$spacer: 4px !default;

//transitions
$transition-fast-ease: all 0.1s ease;

$font-weights: (
  'thin': 100,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'bold': 700,
  'black': 900,
) !default;

$colors: (
  'grey-alto': $color-grey-alto,
  'white': $color-white,
  'grey': $color-grey,
  'red': $color-red,
  'green': $color-green,
  'green-light': $color-green--light,
  'blue': $color-blue,
  'blue-indigo': $color-blue--indigo,
  'yellow': $color-yellow,
  'yellow-amber': $color-yellow--amber,
  'primary': $color-primary,
  'secondary': $color-secondary,
  'success': $color-success,
  'info': $color-info,
  'warning': $color-warning,
  'error': $color-error,
  'disabled': $color-disabled
) !default;

$headings: (
  'display-4': (
    'size-md': $display-4-size-md,
    'size': $display-4-size,
    'weight': 300,
    'line-height': 1em,
    'letter-spacing': -.015625em,
    'font-family': $heading-font-family,
  ),
  'display-3': (
    'size-md': $display-3-size-md,
    'size': $display-3-size,
    'weight': 300,
    'line-height': 1em,
    'letter-spacing': -.0083333333em,
    'font-family': $heading-font-family,
  ),
  'display-2': (
    'size-md': $display-2-size-md,
    'size': $display-2-size,
    'weight': 400,
    'line-height': 1.1em,
    'letter-spacing': normal,
    'font-family': $heading-font-family,
  ),
  'display-1': (
    'size-md': $display-1-size-md,
    'size': $display-1-size,
    'weight': 400,
    'line-height': 1.5em,
    'letter-spacing': .0073529412em,
    'font-family': $heading-font-family,
  ),
  'headline': (
    'size-md': $headline-size-md,
    'size': $headline-size,
    'weight': 400,
    'line-height': 1.5em,
    'letter-spacing': normal,
    'font-family': $heading-font-family,
  ),
  'title': (
    'size-md': $title-size-md,
    'size': $title-size,
    'weight': 500,
    'line-height': 1.7em,
    'letter-spacing': .0125em,
    'font-family': $heading-font-family,
  ),
  'subtitle-1': (
    'size-md': $subtitle-1-size-md,
    'size': $subtitle-1-size,
    'weight': 400,
    'line-height': 1.75em,
    'letter-spacing': .009375em,
    'font-family': $font-main,
  ),
  'subtitle-2': (
    'size-md': $subtitle-2-size-md,
    'size': $subtitle-2-size,
    'weight': 500,
    'line-height': 1.375em,
    'letter-spacing': .0071428571em,
    'font-family': $font-main,
  ),
  'body-1': (
    'size-md': $body-1-size-md,
    'size': $body-1-size,
    'weight': 400,
    'letter-spacing': .03125em,
    'line-height': 1.5em,
    'font-family': $font-main,
  ),
  'body-2': (
    'size-md': $body-2-size-md,
    'size': $body-2-size,
    'weight': 400,
    'letter-spacing': .0178571429em,
    'line-height': 1.375em,
    'font-family': $font-main,
  ),
  'caption': (
    'size-md': $caption-size-md,
    'size': $caption-size,
    'weight': 400,
    'letter-spacing': .0333333333em,
    'line-height': 1.5em,
    'font-family': $font-main,
  ),
  'overline': (
    'size-md': $overline-size-md,
    'size': $overline-size,
    'weight': 400,
    'letter-spacing': .1666666667em,
    'line-height': 1.5em,
    'font-family': $font-main,
  ),
) !default;
