@mixin center-transform {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin breakpoint($class) {
  @if $class == sm {
    @media (min-width: $sm) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: $md) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: $lg) {
      @content;
    }
  } @else {
    @warn 'Breakpoint mixin supports: sm, md, lg';
  }
}

@mixin animate($name, $duration: 3s, $delay: 0, $timing-function: linear) {
  animation-name: $name;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: infinite;
  animation-timing-function: $timing-function;
}
